{% extends "base.html" %}

{% block title %}Basket{% endblock %}

{% block style %}

<style>

</style>

{% endblock %}


{% block content %}






<!-- {% for item in basket %}

<p>Item begins!</p>

{{item.FoodID, item.FoodName}}
<br />
{% endfor %} -->


 
 <div class="table-container">
    
    <form action="/orderreceived" method="post">
      <div class="table">
      <h1>Your basket</h1>  
    <table class="basket-table">
        <thead>
            <tr>
                <td></td>
                <td>Meal</td>
                <td>Price</td>
                <td>Calories</td>
                <td></td>
                
            </tr>
        </thead>
        <tbody>
         {% for item in basket %}

                
         <tr>
            <td><img class="foodimage" src="../static/images/{{item.FoodImage}}.jpeg" alt="{{item.FoodName}}_image"/></td>
            <td>{{item.FoodName}}</td>
            <td>{{item.FoodPrice}}</td>
            <td>{{item.FoodCalories}}</td>
            <td>Remove from basket<input type="checkbox" name="foodremover" value={{item.FoodID}}>       
            
            </td>
        </tr>
    
    
    
    
         {% endfor %}
        </tbody>
       </table>
       <br />
       <div class="address-entry"><p> We have your address down as {{address[0].PostalAddress}}. If that's not correct, renter here:   </p><input class="address-text-input" type="text" name="addressfield" value="Re-enter your address here    " /> </div>
       <button type="submit" class="blue-btn"> Re-enter your address and confirm your order </button>
       <button type="submit" class="green-btn"> Confirm your order </button>
       </form>
    
       <form action="/" method="post">
        <input type="submit" class="red-btn" value="Empty your basket and start again"/>   
          
    </form>
    
    </div>
    </div>
    <br /> 
 





{% endblock %}
